* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

body {
    background: url('CalenDynamics.png') no-repeat center center;
    background-size: contain;
    background-color: #f3f3f3;
}

.overlay {
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
}

h1 {
    font-size: 3em;
    color: #333;
}

p {
    font-size: 1.5em;
    color: #666;
}
